# cloud.nirodhiko.link {
#   reverse_proxy http://host.docker.internal:30000
# }

cms.nirodhiko.link {
  reverse_proxy http://host.docker.internal:9000
}

docker.nirodhiko.link {
  reverse_proxy http://host.docker.internal:10000
}

www.nirodhiko.link {
  encode gzip zstd
  handle {
    root * /srv/web
    try_files {path} /index.html
    file_server
  }
}

file.nirodhiko.link {
  encode gzip zstd
  root * /srv/uploads
  file_server browse
}

git.nirodhiko.link {
  reverse_proxy https://github.com {
    header_up Host {upstream_hostport}
    header_up X-Forwarded-Host {host}
    header_up Origin https://github.com
    header_down location (https://github.com/)(.*) https://git.nirodhiko.link/$2
  }
}
